* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

body {
    display: grid;
    place-items: center;
}

header {
    min-height: 15vh;
    display: grid;
    place-items: center;
}

#header_image{
    width:50px;
    height: 50px;
}

#post_section{
    width:60%;
    min-height: 30vh;
    display: grid;
    place-items:center;
}

#user_image{
    width:80px;
    height: 80px;
    object-fit: cover;
    border-radius: 50%;
}

#text_box{
    text-align: center;
    width: 100%;
    height: 55px;
    border-radius: 30px;
    border: none;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
}

#buttons_container{
    display: grid;
    width: 100%;
    place-items:center;
    grid-template-columns: 1fr 1fr 2fr
}

.icon {
    transition: transform 0.4s ease-in;
}

.icon:hover{
    transform: scale(1.1);
}

.icon:active{
    transform: scale(1.1);
}

#submit_button{
    padding:8px 20px;
    font-size: 1.2rem;
    border-radius: 30px;
    border: none;
    background-color: #339af0;
    color: white;
}

#user_msg{
    width:100%;
    text-align: center;
    left: 0;
    top: 0;
    position: absolute;
    min-height: 3vh;
    color: white;
    padding-top: 8px;
    transition: opacity 0.5s ease-in-out;
}

#tweet_container{
    margin-top: 20px;
    display:grid;
    width: 80%;
    place-items: center;
    row-gap: 20px;
    margin-bottom: 20px;
}

.tweet_card{
    width: 80%;
    display: grid;
    align-items: center;
    row-gap: 12px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    padding: 20px 20px;
    border-radius: 30px;
    transition: transform 0.3s ease-in;
}

.tweet_card:hover {
    transform: scale(1.03);
}

.tweet_card:active {
    transform: scale(1.03);
}