* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

body {
    display: grid;
    place-items: center;
}

header {
    min-height: 15vh;
    display: grid;
    place-items: center;
}

#header_image{
    width:50px;
    height: 50px;
}

#post_section{
    width:60%;
    min-height: 30vh;
    display: grid;
    place-items:center;
}

#user_image{
    width:80px;
    height: 80px;
    object-fit: cover;
    border-radius: 50%;
}

#text_box{
    text-align: center;
    width: 100%;
    height: 55px;
}

#buttons_container{
    display: grid;
    width: 100%;
    place-items:center;
    grid-template-columns: 1fr 1fr 2fr
}

#submit_button{
    padding:8px 20px;
    font-size: 1.2rem;
    border-radius: 30px;
    border: none;
    background-color: #339af0;
    color: white;
}

#user_msg{
    width:100%;
    text-align: center;
    left: 0;
    top: 0;
    position: absolute;
    min-height: 3vh;
    color: white;
    padding-top: 8px;
    transition: opacity 0.5s ease-in-out;
}

#app_navigation{
    width:100%;
    display: grid;
    place-items: center;
    min-height: 8vh;
    position: fixed;
    background-color: #339af0;
    bottom:0;
    left:0
}

#home{
    width:30px;
    transition: transform 0.3s ease-in;
}

#home:hover{
    transform: scale(1.2);
}